<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>Front Page Form</title>
</head>

<body>
    <div class="wrapper">
        <div id="upper">
            <h1 id="top_title" style=>All of the Users</h1>

            <div id="box">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>email</th>
                            <th>age</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for user in all_users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.age}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div id="lower">
            <h1 id="bottome_title">Add A User</h1>
            <form action="/submit" method="post">
                {% csrf_token %}
                <label for:"fname">First Name</label>
                <input type="text" id="fname" name="fname">
                <label for:"lname">Last Name</label>
                <input type="text" id="lname" name="lname">
                <label for:"fname">email</label>
                <input type="text" id="email" name="email">
                <label for:"age">age</label>
                <input type="number" id="age" name="age">
                <button type="submit">Submit</button>
            </form>

        </div>

    </div>


</body>

</html>